doctype html
html(lang="pt-BR")#mapa
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="./../assets/css/main.css")
    title Feira de Profissões - IEEE-UEL

    link(rel="apple-touch-icon" sizes="180x180" href="./../apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./../favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./../favicon-16x16.png")
    link(rel="manifest" href="./../manifest.json")
    link(rel="mask-icon" href="./../safari-pinned-tab.svg" color="#006699")
    meta(name="theme-color" content="#006699")

  body
    header
      nav.nav-menu
        a(href="./"): include ../_includes/logo-ramo.svg
        #btnMenu.btn-menu: include ../_includes/menu.svg

    .container
      section.conteudo
        #map
        h2#aviso Para escolher um local para ir, use o menu na direita.
        h2#titulo
        #descricao
        #cursos
        h3 Imagens do local:
        #imagens
    
    include ../_includes/_footer.pug

    aside.menu
      .menu-container
        ul
          li: a.menu-link(href="./../") Home
          li
            h3 Onde ir:
            .where-to-go
              ul#wtgMenu
    
    //build:js ./../assets/js/mapa.min.js
    script(src="./../../assets/js/jquery-3.2.1.min.js")
    script(src="./../../assets/js/menu.js")
    script(src="./../../assets/js/mapa.js")
    //endbuild
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhqPdGQZ74NQfq3iIO7Xb4PW2C91-3MZQ&callback=initMap")